@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*template de grille*/
.contener {
    display: grid;
    grid-template-columns: 100px 16% 16% 16% 16% 16% 100px;
    grid-template-rows: 120px 40px 120px 120px 120px 120px 120px 120px;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

body {
    background-color: #f1f1f1;
}
* {
    font-family: 'Montserrat', sans-serif;
}

/*navbar*/
header {
    background-color: #202020;
    position: absolute;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li, a {
    font-weight: 400;
    font-size: 16px;
    color: #f1f1f1;
    text-decoration: none;      
}

/*Pour retirer le petit point de la liste nav*/
.nav_links {
    list-style: none;
    display: flex;
    margin-right: 100px;
}

/*Pour aligner la liste nav*/
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.logo {
    margin-right: 1300px;
}

/*aside*/
.listecote {
    background-color: #202020;
    width: auto;
    height: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 8;
}

.galerie {
    background-color: #f1f1f1;
    box-shadow: 0 12px 12px 0 rgba(155, 155, 155, 0.24), 0 12px 20px 0 rgba(133, 133, 133, 0.24);
    border-radius: 10px;
    width: auto;
    height: auto;
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 10;
}

section {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
}

.case1 {
    background-color: #FF7A7A;
    width: auto;
    height: auto;
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.case2 {
    background-color: #15616D;
    width: auto;
    height: auto;
    border-radius: 10px;
    grid-column-start: 3;
    grid-column-end:4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.case3 {
    background-color: #FFD23F;
    width: auto;
    height: auto;
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.case4 {
    background-color: #96031A;
    width: auto;
    height: auto;
    border-radius: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.case5 {
    background-color: #2EC4B6;
    width: auto;
    height: auto;
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.case6 {
    background-color: #F17105;
    width: auto;
    height: auto;
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}

.case7 {
    background-color: #6610F2;
    width: auto;
    height: auto;
    border-radius: 10px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}

.case8 {
    background-color: #83D520;
    width: auto;
    height: auto;
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

.case9 {
    background-color: #C03221;
    width: auto;
    height: auto;
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}

.case10 {
    background-color: #62BFED;
    width: auto;
    height: auto;
    border-radius: 10px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
}